/* グレー系 */
$dark_gray: #666;
$gray: #ccc;
$light_gray: #eee;
$very_light_gray: #fafafa;

/* マゼンタ系 */
$dark_magenta: #f0f;
$very_dark_magenta: darken($dark_magenta, 25%);

/* 赤系 */
$red: #c00;
$pink: #fcc;

/* 緑系 */
$green: #0c0;
