/* グレー系 */
$dark_gray: #666;
$gray: #ccc;
$light_gray: #eee;
$very_light_gray: #fafafa;

/* シアン系 */
$dark_cyan: #488;
$very_dark_cyan: darken($dark_cyan, 25%);

/* 赤系 */
$red: #c00;
$pink: #fcc;

/* 緑系 */
$green: #0c0;
